adobe-source-code-pro-fonts
arandr
autorandr
awesome
bottom
cups
dunst
emacs
fail2ban
firefox
fzf
git
gitflow-avh
kitty
ledger
lf
maim
mpv
neovim
nerd-fonts-source-code-pro
noto-fonts-emoji
pasystray
pavucontrol
qalculate-gtk
rofi
rofi-calc
sxiv
tmpmail
trash-cli
udiskie
udisks2
xclip
xdg-ninja
xorg-server
xorg-xinit
yadm
zathura
zsh
