acpid
adobe-source-code-pro-fonts
arandr
autorandr
awesome
bottom
clang
cmake
dunst
emacs
firefox
fzf
git
gitflow-avh
gnupg
kitty
lf
maim
man-db
mpv
neovim
nerd-fonts-complete
noto-fonts-emoji
openssh
pasystray
pavucontrol
python-pip
python-pywal
qalculate-gtk
rofi
rofi-calc
sxiv
tmpmail
trash-cli
udiskie
udisks2
xclip
xdg-ninja
xorg-server
xorg-xinit
yadm
zathura
zathura-pdf-mupdf
zsh
