acpid
adobe-source-code-pro-fonts
arandr
autorandr
awesome
bottom
cups
dunst
emacs
fail2ban
firefox
fzf
git
gitflow-avh
gnupg
kitty
ledger
lf
maim
man-db
mpv
neovim
nerd-fonts-source-code-pro
noto-fonts-emoji
openssh
pasystray
pavucontrol
python-pywal
qalculate-gtk
rofi
rofi-calc
sxiv
tmpmail
trash-cli
udiskie
udisks2
xclip
xdg-ninja
xorg-server
xorg-xinit
yadm
zathura
zathura-pdf-mupdf
zsh
